@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

.bg-ini{
    background:linear-gradient(to top, #2248C9 10%, #99229b); 
}

.menu-bg{
    /* background: ; */
    border-bottom: 2px solid #D9C1BF;
}

.menu{
    max-width: 920px;
    margin: 0 auto;
    padding: 3.9em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu a{
    color:white;
}

.menu-logo a{
    font-size: 2.40em;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.menu-nav{
    display: flex;
    gap: 6em;
    padding-top: 60px;
}

.menu-nav-item a{
    max-width: 70px;
   
}

.menu-nav-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    font-family: 'Comfortaa', cursive;
}

.menu-nav-item a img{
    width: 100%;
    min-height: 70px;
}

.introducao{
    display: flex;
    font-size: 3em;
    line-height: 1;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    color: #f3e9e9;
}

.introducao::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: #8EC94B;
    border-radius: 50%;
}

.introducao::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background: #8EC94B;
    border-radius: 50%;
}

.sobre-mim{
    /* border-bottom:2px solid #732C26; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.sobre-mim-texto{
    flex: 2 1 300px;
    margin: 0 10px;
    padding: 78px 0;
}

.sobre-mim-texto h1{
    display: flex;
    font-size: 3em;
    margin-bottom: 80px;
    color: #f3e9e9;
    font-family: 'Comfortaa', cursive;
    align-items: center;
}

.sobre-mim-texto h1::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: #8EC94B;
    border-radius: 50%;
}

.sobre-mim-texto p{
    font-size: 2em;
    line-height: 1.4;
    color: #D9C1BF;
    font-family: 'Josefin Sans', sans-serif;
}
.sobre-mim-img{
    flex: 1 1 160px;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.feitos-meu{
    border-bottom:2px solid #8229A3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.feitos-meu-texto{
    flex: 2 1 300px;
    margin: 0 10px;
}

.feitos-meu-texto h1{
    font-size: 3em;
    margin-bottom: 120px;
    font-family: 'Comfortaa', cursive;
    text-align: right;
}

.feitos-meu-texto p{
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #232323;
    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
}

.feitos-meu-img{
    flex: 1 1 160px;
    margin: 0 10px;
}

.ferramentas-container{
    border-bottom:2px solid #8229A3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.ferramentas-texto{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #232323;
    font-family: 'Comfortaa', cursive;
}

.ferramentas-texto p {
    /* display: block; */
    padding-top: 20px;
    padding-bottom: 90px;
    font-family: 'Josefin Sans', sans-serif;
}

.ferramenta{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 100px 200px;
}

.ferramenta-item{
    flex: 1 1 300px;
    margin: 0px 10px;
}

.ferramenta-item h2{
    font-size: 3em;
    color: #232323;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
}

.ferramenta-item h2::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background: blue;
}

.html h2::before{
    background: #ff5722;
}
.css h2::before{
    background: #264de4;
}
.js h2::before{
    background: #f8dc3e;
}
.csharp h2::before{
    background: #6a1577;;
}
.python h2::before{
    background: #376E9D;
}
.cmais h2::before{
    background: #669AD1;
}

.ferramenta-item p{  
    font-size: 1.8em;
    line-height: 1.4;
    color: #232323;
    font-family: 'Josefin Sans', sans-serif;
}

.ferramenta-item-disposition{
    display: flex;
    width: 500px;
}

.ferramenta-item-img{
    max-width: 170px;
}

.projeto-container{
    border-bottom:2px solid #8229A3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.projeto-texto{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #232323;
    font-family: 'Comfortaa', cursive;
}

.hobbies-container{
    border-bottom:2px solid #8229A3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.hobbies-texto{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #232323;
    font-family: 'Comfortaa', cursive;
}


