@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

body, h1, h2, p, ul, li, a{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
}

*{
    box-sizing: border-box;
}

.bg-ini{
    background:linear-gradient(to top, #2248C9 10%, #99229b); 
    min-height: 100vh;
    position: relative;
}

.menu-bg{
    /* background: ; */
    border-bottom: 2px solid #D9C1BF;
}

.menu{
    max-width: 920px;
    margin: 0 auto;
    padding: 3.9em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.menu a{
    color:white;
}

.menu-logo a{
    font-size: 2.40em;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
}

.menu-nav{
    display: flex;
    gap: 6em;
    padding-top: 60px;
}

.menu-nav-item a{
    max-width: 70px;
   
}

.menu-nav-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    font-family: 'Comfortaa', cursive;
    transition: .2s;
}


.menu-nav-item a:hover{
    transform: scale(1.1);
}

.introducao{
    display: flex;
    font-size: 3em;
    line-height: 1;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    color: #f3e9e9;
}

.introducao::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
}

.introducao::after{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    background: white;
    border-radius: 50%;
}

.sobre-mim{
    /* border-bottom:2px solid #732C26; */
    width: 100%;
    position: absolute;
    bottom: 0;

}
.sobre-mim-flex{
    max-width: 1200px;
    position: relative;

    bottom: 0;

    display: flex;
    flex-wrap: wrap;
    align-self: flex-end;
    margin: 0 auto;
}

.sobre-mim-img-item{
    align-self: flex-end;
}

.sobre-mim-texto{
    flex: 2 1 300px;
    margin: 0 10px;
    padding: 78px 0;
}

.sobre-mim-texto h1{
    display: flex;
    font-size: 3em;
    margin-bottom: 80px;
    color: #f3e9e9;
    font-family: 'Comfortaa', cursive;
    align-items: center;
}

.sobre-mim-texto h1::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
}

.sobre-mim-texto p{
    font-size: 2em;
    line-height: 1.4;
    color: #D9C1BF;
    font-family: 'Josefin Sans', sans-serif;
}
.sobre-mim-img img{
    flex: 1 1 160px;
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    max-width: 450px;
}

.sobre-mim-img {


}

.feitos-meu{
    border-bottom:2px solid #8229A3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.feitos-meu-texto{
    flex: 2 1 300px;
    margin: 0 10px;
}

.feitos-meu-texto h1{
    font-size: 3em;
    margin-bottom: 120px;
    font-family: 'Comfortaa', cursive;
    text-align: right;
}

.feitos-meu-texto p{
    font-size: 2em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #232323;
    font-family: 'Josefin Sans', sans-serif;
    text-align: right;
}

.feitos-meu-img{
    flex: 1 1 160px;
    margin: 0 10px;
}

.ferramentas-container{
    border-bottom:2px solid #8229A3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.ferramentas-texto{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #232323;
    font-family: 'Comfortaa', cursive;
}

.ferramentas-texto p {
    /* display: block; */
    padding-top: 20px;
    padding-bottom: 90px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
}

.ferramenta{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 100px 200px;
}

.ferramenta-item{
    flex: 1 1 300px;
    margin: 0px 10px;
}

.ferramenta-item h2{
    font-size: 3em;
    color: #232323;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
}

.ferramenta-item h2::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 50%;
    background: blue;
}

.html h2::before{
    background: #ff5722;
}
.css h2::before{
    background: #264de4;
}
.js h2::before{
    background: #f8dc3e;
}
.csharp h2::before{
    background: #6a1577;;
}
.python h2::before{
    background: #376E9D;
}
.cmais h2::before{
    background: #669AD1;
}

.ferramenta-item p{  
    font-size: 1.8em;
    line-height: 1.4;
    color: #232323;
    font-family: 'Josefin Sans', sans-serif;
}

.ferramenta-item-disposition{
    display: flex;
    width: 500px;
}

.ferramenta-item-img{
    max-width: 170px;
}

.projeto-container{
    border-bottom:2px solid #8229A3;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

.projeto-texto{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #232323;
    font-family: 'Comfortaa', cursive;
    
}

.projeto-texto p{
    padding-top: 20px;
    padding-bottom: 90px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
}
.projeto-item-descricao{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1200px;
}

.projeto-item-img{
    max-width: 500px;
    cursor: pointer;
}

.projeto-item-img-desc{
    font-size: 1.7em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #232323;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 600px;
}

.projeto-item-img img{
    max-width: 100%;
    -webkit-clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    transition: 1s;
}

.projeto-item-img img:hover{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.hobbies-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}

.hobbies-texto{
    max-width: 1200px;
    margin: 0 auto;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #232323;
    font-family: 'Comfortaa', cursive;
}

.hobbies-descricao{
    margin-top: 80px;    
    min-height: 50vh;
    background-size: cover;
    display: flex;
    align-items: center;
}


.hobbies-descricao:nth-child(2){
    background-image: url(../image/library.jpg);
}

.hobbies-descricao:nth-child(3){
    background-image: url(../image/game.webp);
}

.hobbies-descricao:nth-child(4){
    background-image: url(../image/cachorro.jpg);
}

.hobbies-descricao:nth-child(5){
    background-image: url(../image/violao.jpg);
}

.hobbies-descricao-titulo{
    display: flex;
    font-family: 'Comfortaa', cursive;
    /* background:linear-gradient(to right, #2248C9, #99229bdf 70%, transparent);      */
    min-width: 50%;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    font-size: 2.8em;
    color: white;
}

.right{
    background:linear-gradient(to right, #2248C9, #99229bdf 70%, transparent);
    
}


.left{
    background:linear-gradient(to left, #2248C9, #99229bdf 70%, transparent);     
}

.hobbies-descricao-texto{
    margin: 0 80px;
    align-items: stretch;
    background: rgba(225, 224, 224, 0.828);
    
}

.hobbies-descricao-texto-center{
    min-height: 300px;
    padding: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.55em;
    display: flex;
    align-items: center;

}

.rodape-bg{
    background:linear-gradient(to top, #2248C9 10%, #99229b);
    min-height: 40vh; 
    overflow: hidden;
}

.rodape-contato{
    /* padding: 60px calc((100% - 960px) / 2); */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
}

.rodape-conteudo h1{
    font-size: 3em;
    line-height: 1;
    margin:auto;
    font-family: 'Comfortaa', cursive;
    color: #f3e9e9;
    text-align: center;
    padding: 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape-conteudo h1::after, .rodape-conteudo h1::before{
        content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    background: white;
    border-radius: 50%;
}

.rodape-contato-form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'input enviar'
                         'textarea enviar';
    margin: auto;
    margin: 0 10px;
    align-self: center;
    max-width: 1200px;
}

.rodape-contato-form input{
    grid-area: input;
    flex: 3 1 260px;
    font-size: 1.25em;
    color:#7c7c7c;
    font-style: italic;
    font-family: 'Josefin Sans', sans-serif;
    border: 4px solid #f3e9e9;
    background: white;
    color: #232323;
    padding: 15px 10px;
    margin: 0px;
    border-radius: 20px 0px 0px 0px;
}

.rodape-contato-form button{
    flex: 1 1 260px;
    font-family: 'Comfortaa', cursive;
    font-size: 2.25em;
    font-weight: bold;
    text-transform: uppercase;
    background: #f3e9e9;
    color: #2845C6;
    margin: 0px;
    cursor: pointer;
    border: 0px;
    padding: 15px 10px;
    max-width: 1200px;
    grid-area: enviar;
    border-radius: 0px 20px 20px 0px;
}

.rodape-contato-form button:hover{
    background: rgb(248, 225, 216);
    transition: .2s;
}

.rodape-contato-form textarea{
    grid-area: textarea;
    border: 4px solid #f3e9e9;
    resize: none;
    border-radius: 0px 0px 0px 20px;
    min-height: 200px;
    background: white;
    color: #232323;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25em;
    padding: 15px 10px;
}

@media (max-width: 600px){
    .rodape-contato-form button{
        font-size: 1.5em;
    }
}

.rodape-conteudo{
    padding-bottom: 40px;
}

.rodape-conteudo p{
    display: flex;
    justify-content: center;
    color: #f3e9e9;
    font-family: 'Comfortaa', cursive;
}
